black==23.11.0
click==8.1.7
colorama==0.4.6
mypy-extensions==1.0.0
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
PySimpleGUI==4.60.5
tomli==2.0.1
typing_extensions==4.8.0
scikit-image==0.22.0
scikit-learn